<div class="preloader" id="pre"><div><div class="pl-logo">Next<span>Int</span> Inc</div><div class="pl-bar"><div class="pl-fill"></div></div></div></div>
<nav class="mob-nav" id="mobnav">
  <button class="mob-close" onclick="cnav()"><i class="fa fa-times"></i></button>
  <a href="{{ site.url }}/#more-apps" onclick="cnav()">Apps</a>
  <a href="{{ site.url }}/#blogs" onclick="cnav()">Blogs</a>
  <a href="{{ site.url }}/#features" onclick="cnav()">Features</a>
  <a href="{{ site.url }}/about/" onclick="cnav()">About</a>
  <a href="{{ site.url }}/contact/" onclick="cnav()">Contact</a>
  <a href="https://play.google.com/store/apps/details?id=com.nextintinc.udhari_book_cash_gst_calc" target="_blank" rel="noopener" style="background:var(--main);color:var(--dark)!important;margin-top:10px;" onclick="cnav()">▶ Play Store</a>
</nav>
<header id="header-wrap">
  <div class="container">
    <div class="hdr-logo">
      <a href="{{ site.url }}/">
        <div class="logo-box">N</div>
        <div><div class="logo-name">NextInt Inc</div><div class="logo-by">by Vijay Sonawale</div></div>
      </a>
    </div>
    <nav id="main-menu">
      <ul>
        <li><a href="{{ site.url }}/#more-apps">Apps</a></li>
        <li><a href="{{ site.url }}/#blogs">Blogs</a></li>
        <li><a href="{{ site.url }}/#features">Features</a></li>
        <li><a href="{{ site.url }}/about/">About</a></li>
        <li><a href="{{ site.url }}/contact/">Contact</a></li>
        <li class="menu-cta"><a href="https://play.google.com/store/apps/details?id=com.nextintinc.udhari_book_cash_gst_calc" target="_blank" rel="noopener"><i class="fa fa-play" style="font-size:10px"></i> Play Store</a></li>
      </ul>
    </nav>
    <button class="mob-toggle" onclick="onav()"><i class="fa fa-bars"></i></button>
  </div>
</header>
